<%  if @useredit != nil %>  
  <div id="labelPerfil">
    <p>
      <h1>Editar</h1>
    </p>
  </div>

  <fieldset id="fundoform">    
	 <%= render 'form' %>
  </fieldset>

  <div id="botaoc">    
  	<%= link_to 'Exibir', @usuario %> |
  	<%= link_to 'Voltar', usuarios_path %>
  </div>
<% else %>
  <script type="text/javascript">
    window.location.href="http://localhost:3000/users/sign_in" 
  </script>
<% end %>
