<%  if @usernew != nil %> 
	<div id="labelPerfil">
		<h1>Cadastrar</h1>
	</div>	

  <fieldset id="fundoform">    
	 <%= render 'form' %>
  </fieldset>

  <div id="botaoc">  	
	<%= link_to 'Voltar', usuarios_path %>
  </div>
<% else %>
  <script type="text/javascript">
    window.location.href="http://localhost:3000/users/sign_in" 
  </script>
<% end %>
